body {
    	background-color: #222222;
    	color: white;
	}

h1 {
    	font-family: 'Monospace', courier-new;
    	color: gray;
    	font-size: 50px;
	}

a {
    	color: green;
    	font-family: 'Dancing Script', cursive;
    	font-size: 24px;
    	text-decoration: none;
	}

a:hover{
  	color: red;
	}
