body {
    	#grad {
  background-image: linear-gradient(purple, blue, orange);
}

h1 {
    	font-family: 'Monospace', courier;
    	color: green;
    	font-size: 50px;
	}

a {
    	color: lime;
    	font-family: 'OCR A Std', monospace;
    	font-size: 24px;
    	text-decoration: none;
	}

a:hover{
  	color: red;
	}
